.animation-area {
    width: 100%;
    
        /* background: linear-gradient(to left ,#8942a8,#ba382f); */
    
    
        
    }


    .animation-area .box-area{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      overflow: hidden;
    }

    .box-area li{

    
        position: absolute;
        /* background: rgba(255, 255, 255, 0.2); */
        display: block;
        list-style: none;
        width: 15px;
        height: 15px;
     animation: animate 10s linear infinite ;
    border-radius: 100%;
     bottom: -150px;
    
    
    
    }


    .box-area li:nth-child(1){
        left: 86%;
        /* width:80px;
         height: 80px; */
    
         background-color: #EC5F42;
         animation-delay: 0s;
    }
    
    
    .box-area li:nth-child(2){
        left: 12%;
        /* width:30px;
         height: 30px; */
         animation-delay: 0s;
         /* background-color: #9929EA; */
         animation-duration: 10s;
    }
    
    
    
    .box-area li:nth-child(3){
        left: 70%;
        /* width:100px;
         height: 100px; */
         /* background-color: #EC5F42; */
         animation-delay: 3.5s;
        
    }
    
    
    
    .box-area li:nth-child(4){
        left: 42%;
        /* width:150px;
         height: 150px; */
         animation-delay: 0s;
         /* animation-duration: 10s; */
         background-color: #081D51;
        
    }
    
    
    
    .box-area li:nth-child(5){
        left: 65%;
        /* width:40px;
         height: 40px; */
         animation-delay: 0s;
         /* background-color: #EC5F42; */
    
    
        
    }
    
    
    .box-area li:nth-child(6){
        left: 15%;
        /* width:110px;
         height: 110px; */
         animation-delay: 2.5s;
         background-color: #9929EA;
    
    
        
    }
    
    .box-area li:nth-child(7){
        left: 15%;
        /* width:110px;
         height: 110px; */
         animation-delay: 3.5s;
         background-color: blue;
    
    
        
    }
    
    
    .box-area li:nth-child(8){
        left: 15%;
        /* width:110px;
         height: 110px; */
         animation-delay: 3.5s;
         background-color: blue;
    
    
        
    }
    
    
    .box-area li:nth-child(9){
        left: 15%;
        /* width:110px;
         height: 110px; */
         animation-delay: 3.5s;
         background-color: #9929EA;
    
    
        
    }
   
    .box-area li:nth-child(11){
        left: 5%;
        /* width:110px;
         height: 110px; */
      
    
    
        
    }


    
    
    
    
    
    
    
    @keyframes animate {
    
    
        0%{
    
    
            transform: translateY(0) rotate(0deg) ;
            opacity: 1;
        }
    
        
    
    
        
        100%{
    
    
            transform: translateY(-800px) ;
            opacity: 1;
        }
    
    
    }





   


  
