.headeranimation{
    background-color: pink;
}

.aheaderanimation .headericons{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  overflow: hidden;
}

.headericons li{

   
    position: absolute;
    /* background: rgba(255, 255, 255, 0.2); */
    display: block;
    list-style: none;
 
 animation:example 10s linear infinite ;






}


.headericons li:nth-child(1){
    right:180px;
    /* width:80px;
     height: 80px; */

     
   
}

.headericons li:nth-child(2){
   top:400px;
    /* width:80px;
     height: 80px; */

  
   
}


@keyframes example {
    100%   {
        
        
        transform: rotate(360deg);
     }

    /* 25%{background-color: blue;}
        75%{background-color: gray; }
    50%{background-color: green;} */
   
 

    /* 0%{
    
    
        transform: translateY(0) rotate(360deg) ;
        opacity: 1;
    }

    


    
    100%{

        transform: translateY(-100)  rotate(360deg)  ;
       
        opacity: 1;
    }
     */
}