@media (max-width: 576px) { 








    .headerleft .headerimg img{
        width: 100%;;
        
    }
    
    .headerright h2{
        
        font-size: 60px !important;
        
       
     } 
     .HeaderInput input{
        width: 100% !important;
         
         
       }
    
    
       .HeaderInput .dropdowninput {
        width: 100%;
       }
       .HeaderInput button{
           width:100%;
           margin-top: 15px;
          
       }
    
       .dropdowninput .dropdown-toggle::after {
          
        text-align: right;
         color: var(--hovercolor);
         margin-left: 80%  !important;
       
       }


       /* logoslider */
       
     /* .header-icons {
         
         display: flex !important;
         flex-direction:row !important;
         align-items: center !important;
         justify-content: space-around !important;
     }
       */
     
     .header-icons img {
       
       
        width: 100% ;
        height: auto;
    }
    .Logoslider .logosliderul li{
     
     margin-right: 20px !important;
    }

    .Logoslider .logosliderul img{
     
     width: 100%  !important
     }
 
       /* logoslider */


/* socialmedia marketing */


.SMMcol{
  

 margin-top: 20px;
 margin-bottom: 5px !important;


}
/* socialmedia marketing */





       /* seo strategy */

     

      

      
       .SeoStrategyimg .seoimg{
       width:50px Im !important;
        top: 5px  !important;
             left:10px !important;
         position: absolute;
         z-index: -1;
        
      
      }
       /* seo strategy */


       /* digitalcommunication */
       .DigitalCoomunication{
           margin-top: 50px !important;
           margin-bottom: 50px !important;
       }

       .DigitalCoomunication button{
      
       width: 300px  !important;
       
      }
      .socialmediaright{
          
       
        
      
      }

.SeoStrategycontent{
  margin-top: 2px !important;

}

      /* dmsservices */

.DMServicessection{

    /* background-image: url("../images/dmjpg.jpg") !important;
   
    background-size: contain !important; */
  
 
 }





/* afordable */


.Affordabletabs ul li{
  
  display: inline-block !important;

}
 .affordablepart1 .affordableimg3{
    
    top: 550px !important;
    left: -30px;
   
    z-index: -1 !important;
   
   
  }

  .affordablepart1 .affordableimg4{
    position: absolute;
   top: 990px !important;
   left: -1px;
    width: 121px;
    height: 188px !important;
    z-index: -1 !important;
  }


  .affordablepart1 .affordableimg5{
    
    z-index: -1 !important;
    top: 2960px  !important;
 opacity: 0.5;
  
  }
  .affordablepart1 .affordableimg6{
    position: absolute;
    top: 2800px !important;
    right:0 !important;
 opacity: 0.7 !important;
   
    
  }
  .whychoose {

    margin-top: 140px !important;
    
   
   
   
  }

  .whychooseleft{
    margin-top: 30px !important;
  }
  .Footermiddle ul{
    margin: 20px;
    
   
}

  .Footermiddle ul li{
    text-align: left !important;
   
}
.footericonssec{
  display: flex;
  flex-direction: column;
  align-items: center;
    
  }

.footerbtn button{
  margin-right:50px !important;

}

      }