@media (max-width: 767.98px) {



    .headerright h2{
        
        font-size: 68px !important;
      
     } .dropdowninput .dropdown-toggle::after {
          
      
         margin-left: 200px  !important;
       
       }
       .SMMcol{
  

        margin-top: 20px;
        margin-bottom: 5px !important;
       
       
       }











 }
