@media screen and (max-width: 360px)  {



.headerleft .headerimg img{
    width: 100%;;
    
}

.headerright h2{
    
    font-size: 60px !important;
    
   
 } 
 .HeaderInput input{
    width: 100% !important;
     
     
   }


   .HeaderInput .dropdowninput {
    width: 100%;
   }
   .HeaderInput button{
       width:100%;
       margin-top: 15px;
      
   }

   .dropdowninput .dropdown-toggle::after {
      
    text-align: right;
     color: var(--hovercolor);
     margin-left: 180px  !important;
   
   }


}