@media screen and (max-width: 360px) {
    
.headerright h2{
    
    font-size: 60px !important;
   
 }
 .HeaderInput .dropdowninput .dropdown-toggle::after {
        
        
         color: var(--hovercolor);
         margin-left:180px;
       
       }
  .HeaderInput input{
   width: 100% !important;
    
    
  }
  .HeaderInput .dropdowninput {
   width: 100%;
  }
  .HeaderInput button{
      width:100%;
      margin-top: 15px;
     
  }
.header-icons ul{
    
    margin-right: 25px;

}

.header-icons li {

    
   margin-left:5px;
   margin-right:5px;
    
    }
.header-icons li img{
  
width: 80px;
align-items: center;

}

.socialmedialeft h3{
    max-width: 350px;


}
.socialmediaright{
    
    margin-top: 20px !important;
}







.DigitalCoomunication button{
  
   width: 300px !important;
   height: 50px;
  }

  .Footermiddle ul{
    text-align: center;
    margin-top: 20px;
   
   }
   .Footermiddle ul li{
    text-align: center;
   
   
   }
   .footericons{
       padding: 10px;
      
       text-align: center;
   }
  .svgimg{
      width:300px !important;
  }
.svgman{
    width: 300px !important;
  
} 
.affordableImg .affordableimg2{

    position:absolute;
    top:1650px !important;
    z-index: -1;
    
    
    }

    .logo-slider .item{
   
     
       
        padding:5px !important; 
       margin-bottom: 20px  !important;
       
    }
   
  
    
  .logo-slider .item img{
   
  width: 100%
 
   
}
    .DMServicessection{
        
        
            background-image: none !important;
            
        
          }


          .affordablepart1 .affordableimg3{
            position: absolute;
            top: 600px !important;
            left: -80px;
            width: 121px;
            height: 188px !important;
           
          }

          .affordablepart1 .affordableimg4{
            position: absolute;
           top: 1000px !important;
           left: -100px !important;
            width: 121px;
            height: 188px !important;
            z-index: -1 !important;
          }
          .affordablepart1 .affordableimg5{
            position: absolute;
            top: 3200px !important;
          right:-100px !important;
            width: 121px;
            height: 188px !important;
           
          z-index: -1  !important;
          }
          .affordablepart1 .affordableimg6{
            position: absolute;
            top: 700px !important;
            right:-20px !important;
            z-index: -1;
           
            
          }
          .affordableImg .affordableimg1{

            position:absolute;
            top:130px !important;
            
            
            }
            .affordableImg .affordableimg2{

                position:absolute;
                top:600px  !important;
                z-index: -1;
                left: 10px;
                
                
                }
  }
