@media screen and (max-width: 360px) {


    .headerright h2{
    
        font-size: 60px !important;
       
     }
     .HeaderInput .dropdowninput .dropdown-toggle::after {
            
            
             color: var(--hovercolor);
             margin-left:180px;
           
           }
      .HeaderInput input{
       width: 100% !important;
        
        
      }
      .HeaderInput .dropdowninput {
       width: 100%;
      }
      .HeaderInput button{
          width:100%;
          margin-top: 15px;
         
      }
    .header-icons ul{
        
        margin-right: 25px;
    
    }
    
    .header-icons li {
    
        
       margin-left:5px;
       margin-right:5px;
        
        }
    .header-icons li img{
      
    width: 80px;
    align-items: center;
    
    }
    
    .socialmedialeft h3{
        max-width: 350px;
    
    
    }
    .socialmediaright{
        
        margin-top: 20px !important;
    }
    
    
    /* socialmediamarketinb */

    .SMMcol .card h4{
      margin-left: 10px ;
      font-family: 'Rubik', sans-serif;
      color: var(--headingcolor);
      font-size: 18px;
      line-height: 21.6px;
      font-weight: 600;
 
      text-align: left;
      margin-right: 70px  !important;
     margin-top: 5px;
    
    }
    
    
    
    
    .DigitalCoomunication button{
      
       width: 300px !important;
       height: 50px;
      }
    
      .Footermiddle ul{
        text-align: center;
        margin-top: 20px;
       
       }
       .Footermiddle ul li{
        text-align: center;
       
       
       }
       .footericons{
           padding: 10px;
          
           text-align: center;
       }
      .svgimg{
          width:300px !important;
      }
    .svgman{
        width: 300px !important;
      
    } 
    .affordableImg .affordableimg2{
    
        position:absolute;
        top:1650px !important;
        z-index: -1;
        
        
        }
    
        .logo-slider .item{
       
         
           
            padding:5px !important; 
           margin-bottom: 20px  !important;
           
        }
       
      
        
      .logo-slider .item img{
       
      width: 100%
     
       
    }

   .DMServicessection{
     
      
          background-image: none !important;
         
      
        }
    /* .DMServicessection{
     
      
          background-image: url("../images/DMbackimg.png");
          background-repeat: no-repeat;
         background-position:  center !important;
          background-size: contain !important;
          
      z-index: -1;
      
        } */
    /* .DMServicessection{
      margin-top: 100px;
      padding:10px;
      
          background-image: url("../images/DMbackimg.png");
          background-repeat: no-repeat;
         background-position:  center !important;
          background-size: contain !important;
          
      z-index: -1;
      
        } */
      
    
    
              .affordablepart1 .affordableimg3{
                position: absolute;
                top: 600px !important;
                left: -80px;
                width: 121px;
                height: 188px !important;
               
              }
    
              .affordablepart1 .affordableimg4{
                position: absolute;
               top: 1000px !important;
               left: -100px !important;
                width: 121px;
                height: 188px !important;
                z-index: -1 !important;
              }
              .affordablepart1 .affordableimg5{
                position: absolute;
                top: 3200px !important;
              right:-100px !important;
                width: 121px;
                height: 188px !important;
               
              z-index: 1  !important;
              }
              .affordablepart1 .affordableimg6{
                position: absolute;
                top: 700px !important;
                right:-20px !important;
                z-index: -1;
               
                
              }
              .affordableImg .affordableimg1{
    
                position:absolute;
                top:130px !important;
                
                
                }
                .affordableImg .affordableimg2{
    
                    position:absolute;
                    top:600px  !important;
                    z-index: -1;
                    left: 10px;
                    
                    
                    }
 
    .SeoStrategyimg .seoimg{

        position: absolute;
       
        left: 90px !important;
        top:20px;
      z-index: -1;
      }

.SeoStrategyleft{
   
    margin-bottom: 20px;
}
.DigitalCoomunication{

    margin-top: 50px  !important;
   
  
  }

  .whychoose {

    margin-top: 140px !important;
   
   
   
  }
  
  .Footermiddle ul li{
      text-align: center !important;
      
  }

.footerbtn button{
    margin-right:50px !important;

}

  /* .DMServicessection{
        
        
    
    background-image: url("../images/digitalcommback.png")  !important;

    

  } */






}

@media screen and (max-width: 480px) {

    .DMServicessection{
        
        
        background-image: none !important;
        
    
      }


}

@media screen and (max-width:600px) {

  .DMServicessection{
      
      
      background-image: none !important;
      
  
    }


}



@media screen and (max-width:900px) {

  .DMServicessection{
      
      
    /* background-image: url("../images/DMbackimg.png");
    background-repeat: no-repeat;
   background-position:  center !important;
    background-size: contain !important; */
    background-image: none !important;
  
  
    }


}