@media screen and (max-width: 360px) {



 
    .SeoStrategyimg .seoimg{

        position: absolute;
       
        left: 90px !important;
        top:20px;
      z-index: -1;
      }

.SeoStrategyleft{
   
    margin-bottom: 20px;
}
.DigitalCoomunication{

    margin-top: 50px  !important;
   
  
  }

  .whychoose {

    margin-top: 140px !important;
   
   
   
  }
  
  .Footermiddle ul li{
      text-align: center !important;
      
  }

.footerbtn button{
    margin-right:50px !important;

}

  /* .DMServicessection{
        
        
    
    background-image: url("../images/digitalcommback.png")  !important;

    

  } */






}

/* @media screen and (max-width: 480px) {

    .DMServicessection{
        
        
        background-image: none !important;
        
    
      }


} */