.seotabs{
    
  
    border-radius: 24px;
   box-shadow:  0px 0px 60px #EFF2F5;
 
   width: 525px;
   
}
.seotabs a{
 
    text-align: left;
    width: 200px;
    background-color: transparent !important;
    color: var(--headingcolor);
    line-height: 21.6px;
    font-size: 18px;
    font-weight: 600;

    
}


.seotabs a.active{
 

    background-color: transparent !important;
    
    font-family: 'Nunito', sans-serif;
    font-weight: 800 !important;
    color: #E25F46  !important;

    
}


.seotabs a:hover{
 

    background-color: transparent !important;
    
    font-family: 'Nunito', sans-serif;
    font-weight: 800 !important;
    color: #E25F46  !important;

    
}

.seotabs .tabcontent{
    background: linear-gradient(to left ,#f0a056,#ec5c6b) !important;
    color: white;
    border-radius: 24px;
    padding: 20px;
    width: 325px;
    
  
  
}

.tabcontent p{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
      font-weight: 400;
     text-align: left;
      line-height: 19.2px;
      
}